/*
	Author: Sergei Visotsky
	Author URI: http://www.sergeivisotsky.com
*/

/* Main Styles */

body {
    background: url(../img/bg.png) center top no-repeat;
    background-color: #5e981e;
    color: #fff;
    font: 20px 'Univers Condensed', arial, tahoma, sans-serif;
}

@font-face {
  font-family: 'Univers Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Univers Condensed'), local('univers-condensed'), url(univers-condensed-medium-webfont.ttf);
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* Clearfix */

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Header */

header {
    margin-top: 60px;
}

header .slogan, .contact {
    display: inline-block;
    vertical-align: top;
}

header .slogan {
    position: relative;
    width: 300px;
    color: #0a4c58;
}

header .slogan .whois {
    color: #1e6f7e;
    font-size: 20px;
    line-height: 0;
}

header .slogan h1 {
    position: relative;
    font-size: 50px;
    font-weight: 400;
    bottom: 30px;
    line-height: 40px;
}

header .slogan .red-text {
    color: #bf401d;
}

header .slogan .sm-text {
    position: relative;
    font-size: 17px;
    bottom: 80px;
}

header .slogan .quote {
    font-size: 50px;
    color: #99bcc3;
    line-height: 5px;
}

header .contact {
    position: relative;
    width: 260px;
    color: #0a4c58;
    left: 165px;
    margin-left: 230px;
}

header .contact h2 {
    color: #bf401d;
    font-size: 38px;
    font-weight: 400;
    line-height: 0;
}

header .contact .tel-2 {
    position: relative;
    bottom: 45px;
}

header .contact .sm-text {
    font-size: 17px;
}

header .contact .town {
    position: relative;
    bottom: 80px;
}

/* Content */

.content {
    margin-top: 165px;
    margin-bottom: 60px;
}

.content .left-block, .right-block {
    display: inline-block;
    vertical-align: top;
}

.content .left-block {
    width: 445px;
} 

.content .right-block {
    position: relative;
    top: 20px;
    width: 430px;
    margin-left: 90px; 
} 

.content .right-block .yellow-text {
    color: #ffdd4a;
}

.content .right-block h2 {
    color: #ffdd4a;
    font-size: 27px;
    font-weight: 400;
}

.content .right-block .sm-text {
    font-size: 15px;
}